<body class="pb-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow custom-navbar">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand fw-bold" routerLink="">SimpleCatalog</a>

      <!-- Toggler (Mobile Menu) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" aria-controls="navbarNav" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">See Products</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</body>

  <router-outlet></router-outlet>
  