<table class="table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Brand</th>
            <th>INFORMATION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.brand }}</td>
            <td>
                <!-- Dynamically change the routerLink depending on the product id -->
                <a [routerLink]="['/mobile' + product.id]">View Details</a>
            </td>
        </tr>
    </tbody>
</table>
