<div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="https://via.placeholder.com/300" alt="Mobile 2" class="img-fluid rounded">
          </div>
          <div class="col-md-6">
            <h2>POCO X7 PRO</h2>
            <p><strong>Price:</strong>  $359.00</p>
            <p><strong>Location:</strong> Amazon, Shopee</p>
            <p><strong>Description:</strong> A powerful mid-range phone designed for multitasking and gaming.</p>
            <p><strong>Features:</strong></p>
            <ul>
              <li>6.67" Display</li>
              <li>8/12GB RAM</li>
              <li>50MP Camera</li>
              <li>6000mAh Battery</li>
              <li>Chipset	Mediatek Dimensity 8400 Ultra (4 nm)</li>
            </ul>
            <div class="d-flex justify-content-between mt-4">
              <a routerLink="/products" class="btn btn-secondary">Back to Products</a>
              <button class="btn btn-primary">Order Now</button>
            </div>
          </div>
        </div>
      </div>
      